$colorPrincipal: #000;
$colorSecundario: #000;
$colorTexto: #000;
$colorNav: #000;
$color-menu-hamburguesa:#fff;
$color-nav-item: #fff;
$color-navegacion-responsive: red;
$color-sub-menu: purple;
$color-sub-menu-responsive: #fff;
$color-icono-dropdown: #fff;
$color-sub-menu-item: red;
